{% extends 'partials/base.html.twig' %}

{% block content %}
	<section id="bio-page">
		<div class="bio">
	 		{{ page.content }}
	 	</div>
	 	<hr>
	 	<div class="contactos">
	 		<h1>{{ "CONTACT"|t }}</h1>
			<ul>
				{% if page.header.telefone is defined and page.header.telefone is not null %}	
					{# <li><i class="fa fa-phone-square"></i> {{ "PHONE"|t }}: {{page.header.telefone}}</li>				 #}
					<li><i class="fa fa-phone-square"></i>{{page.header.telefone}}</li>					
				{% endif %}			
				{% if page.header.email is defined and page.header.email is not null %}	
					<li><i class="fa fa-envelope-square"></i><a href="mailto:{{page.header.email}}" target="_top">{{page.header.email}}</a></li>	
				{% endif %}			
				{% if page.header.skype is defined and page.header.skype is not null %}	
					<li><i class="fa fa-skype"></i>{{page.header.skype}}</li>	
				{% endif %}
				{% if page.header.linkedin is defined and page.header.linkedin is not null %}	
					<li><i class="fa fa-linkedin-square"></i><a href="{{page.header.linkedin}}" target="_top">Linkedin</a></li>
				{% endif %}
				{% if page.header.facebook is defined and page.header.facebook is not null %}	
					<li><i class="fa fa-facebook-square"></i><a href="{{page.header.facebook}}" target="_top">Facebook</a></li>
				{% endif %}	
				{% if page.header.instagram is defined and page.header.instagram is not null %}	
					<li><i class="fa fa-instagram"></i><a href="{{page.header.instagram}}" target="_top">Instagram</a></li>
				{% endif %}	
			</ul>
	 	</div>
		
	</section>
{% endblock %}

