{% if page.header.show_image == true %}	
	<style type="text/css">
	.{{page.folder}} {
		background-image: url({{page.media.images|first.url}});
		background-position: center;
	}
	</style>
   <div class="layer block-image {{page.folder}}">
        <div class="capture">{{page.content}}</div>
   </div>
{% else %}
	<section>
		<div class="block-text">		 	
		 	{{page.content}} 
		</div>
	</section>
{% endif %}

