{% if page.header.show_image == true %}	
	<style type="text/css">
	.{{page.folder}} {
		background-image: url({{page.media.images|first.url}});
		background-position: center;
	}
	</style>
{% else %}
	<style type="text/css">		
	.{{page.folder}} {
		background-color: #ddd;
	}	
	</style>
{% endif %}


{% if page.header.show_image == true %}	
   <div class="layer big_image {{page.folder}}">
        <div class="capture">Caption for this beautiful break image, Caption for this beautiful break image, Caption for this beautiful break image, Caption for this beautiful break image.</div>
   </div>
{% else %}
	<section>
		<div class="{{page.folder}} container">
		 	page.content
		</div>
	</section>
{% endif %}

		